body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    
}

.avatar {
    width: 150px;
    border-radius: 100px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #83BCFF;
    color: #DAF0EE;
    border-bottom: 6px solid #0F0E0E;
    border-top: 6px solid #0F0E0E;    
    border-right: 4px solid #83BCFF;
    border-left: 4px solid #83BCFF;
    border-radius: 50px;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
     
p:hover {
    background-color: yellow;
}

}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

